/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font-family-base, "IBM Plex mono", "Arial", monospace);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*РАЗМЕТКА*/

.content {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap, 80px);
  padding-inline-start: var(--container-padding);
  padding-inline-end: var(--container-padding);
}

.section {
  display: grid;
  gap: 20px;
}

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
}

/*СТИЛИ СТАТЬИ*/

article {
  display: grid;
  gap: 20px;
}

.article-list {
  display: grid;
  gap: 20px;
}

.article-title {
  background-color: var(--accent-color);
  font-size: 18px;
  color: var(--subtitle-color);
}

.article-list__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article-list__item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article-list__item-title {
  color: var(--subtitle-color);
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: 18px;
}

.subtitle {
  font-weight: 400;
}

/*ССЫЛКИ И ПСЕВДОЭЛЕМЕНТЫ*/

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.decorated-zone::before {
  content: "";
  display: block;
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-right: 1px solid var(--nav-color);
  border-top: 1px solid var(--nav-color);
  right: 20px;
  top: 20px;
}

.decorated-zone::after {
  content: "";
  display: block;
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--nav-color);
  border-left: 1px solid var(--nav-color);
  left: 20px;
  bottom: 20px;
}

/*HEADER*/

.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  margin-bottom: var(--main-gap, 80px);
  margin-block-end: 40px;
  padding-block-start: var(--container-padding);
  padding-inline-start: var(--container-padding);
  padding-inline-end: var(--container-padding);
}

.header__theme-menu {
  grid-column: 1 / -1;
}

.header__theme-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.header__theme-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__theme-menu-button {
  text-transform: lowercase;
  outline: none;
  border: 1px solid transparent;
  padding: 2px 13px 4px;
  background: transparent;
  font-family: var(--font-family-base, "IBM Plex mono", "Arial", monospace);
  line-height: 1;
  text-align: center;
  color: var(--nav-color);
  transition: 0.3s ease-in-out;
}

.header__theme-menu-button:hover {
  border: var(--button-hover);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__title {
  margin-top: -20px;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.83;
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 #ff0070;
  grid-column: 1 / -1;
  margin-inline-start: -20px;
}

.header__text {
  margin-top: -20px;
  font-weight: 700;
  grid-column: 2 / -1;
  grid-row: 3/-1;
  align-self: center;
  justify-self: end;
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  margin-left: 25%;
}

.header__decoration {
  position: absolute;
  display: var(--display-decoration, flex);
  align-items: center;
  color: var(--accent-color);
  line-height: 1.39;
  font-weight: 400;
  text-transform: uppercase;
  top: 22px;
  right: 29px;
}

.header__decoration::after {
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  color: var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #ff0070;
  margin-inline-start: 10px;
}

/*ПОЧЕМУ СОСРЕДОТОЧИТЬСЯ ТАК СЛОЖНО*/

.why {
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.why .article {
  grid-column: span 2;
}

/*ЧТО СНИЖАЕТ КОНЦЕНТРАЦИЮ ВНИМАНИЯ*/

.what .article-list {
  grid-template-columns: repeat(3, 1fr);
}

.what .section-title {
  width: 315px;
}
/*КАК КОНЦЕНТРИРОВАТЬСЯ ЛУЧШЕ*/

.how {
  grid-template-columns: repeat(3, 1fr);
}

.how .article {
  grid-column: span 2;
}

/*А МОЖНО В КАРТИНКАХ*/

.gallery {
  margin-block-end: var(--main-gap, 80px);
}

.gallery-title {
  font-size: 18px;
  background-color: var(--accent-color);
  color: var(--subtitle-color);
}

.gallery__grid {
  grid-template-columns: repeat(3, 1fr);
  margin-block-start: 20px;
  display: grid;
  gap: 20px;
  grid-auto-flow: dense;
}

.gallery__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.gallery__grid-item {
  margin: 0;
  box-sizing: border-box;
}

.gallery__grid-item:first-child,
.gallery__grid-item:last-child {
  grid-column-start: span 2;
}

.gallery__grid-item:nth-child(2),
.gallery__grid-item:nth-child(3) {
  grid-row-start: span 2;
}

/*FOOTER*/

.footer {
  position: relative;
  width: 100%;
  font-size: clamp(7.5rem, 6.6857rem + 3.4742vw, 9.8125rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding-inline-start: var(--container-padding);
  padding-inline-end: var(--container-padding);
  margin-top: -20px;
}

.footer__title {
  font-weight: 700;
  line-height: 0.83;
  color: var(--footer-logo-color);
  text-align: center;
  text-shadow: 2px 2px 0 #ff0070;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

/*768x1024*/

@media (768px <= width < 1024px) {
  .header__title {
    font-size: 120px;
  }

  .header__theme-menu {
    margin-top: -20px;
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
  }

  .what .article-list {
    grid-template-columns: 1fr;
  }

  .what .section-title {
    width: 236px;
  }

  .why {
    gap: 37px;
  }

  .how {
    gap: 30px;
  }
}

/*375x668*/

@media (width < 768px) {
  .header__title {
    margin-inline-start: 1px;
    margin-block-start: -10px;
    font-size: 116px;
  }

  .header__theme-menu {
    margin-top: -20px;
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
  }

  .content {
    gap: var(--tel-gap, 50px);
    padding-inline-end: var(--container-padding-mobile, 10px);
    padding-inline-start: var(--container-padding-mobile, 10px);
  }

  .section.why {
    display: flex;
    flex-direction: column;
  }

  .section.how {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .header {
    margin-block-end: 20px;
    padding-block-start: var(--container-padding-mobile, 10px);
    padding-inline-start: var(--container-padding-mobile, 10px);
    padding-inline-end: var(--container-padding-mobile, 10px);
  }

  .gallery {
    margin-block-end: var(--tel-gap, 50px);
  }

  .header__text {
    grid-column: 1/-1;
    margin-inline-start: 0;
    margin-block-start: -10px;
    justify-self: start;
  }

  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

  .header__decoration {
    top: 11px;
    right: 19px;
  }

  .what .section-title {
    width: 100%;
  }

  .why {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .what .article-list {
    grid-template-columns: 1fr;
  }

  .how {
    grid-template-columns: 1fr;
  }

  .how .section-title {
    grid-column: 1/-1;
  }

  .gallery__grid {
    margin-block-start: 10px;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .gallery__grid-item:first-child,
  .gallery__grid-item:last-child {
    grid-column-start: span 1;
  }

  .gallery__grid-item:nth-child(2),
  .gallery__grid-item:nth-child(3) {
    grid-row-start: span 1;
  }

  .footer {
    margin-block-start: -10px;
    padding-inline-end: var(--container-padding-mobile, 10px);
    padding-inline-start: var(--container-padding-mobile, 10px);
    padding-block-end: var(--container-padding-mobile, 10px);
  }

  .footer__title {
    margin-block-start: 19px;
    font-size: 116px;
  }
}
